@model AgencyAddressBook.Models.Client

<div class="container">
    <aside class="pull-right">
        @Html.Partial("Partials/_ResultNotifications")
    </aside>
    <h1>@ViewBag.Title</h1>
    <div class="panel panel-@ViewBag.PanelColor">
        <div class="panel-heading">
            <aside style="float: right;">
                <a id="add-icon" href="/@ViewBag.SecondControllerName/create?ClientId=@Model.ClientId" data-toggle="tooltip" data-placement="top" title="Add client"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                
            </aside>
            <p class="panel-title">Detailed information of the @Model.Brokers.FirstName's client</p>
        </div>
        <div class="panel-body">
            @Html.Partial("Partials/Crud/_ClientDetails")
        </div>
        <div class="panel-footer">
            Broker details: <a href="/broker/details/@Model.BrokerId">@Model.Brokers.FullName</a>
            <span class="pull-right">Something here</span>
        </div>
    </div>


</div>
