@model PagedList.IPagedList<AgencyAddressBook.Models.Client>
@using PagedList.Mvc;

<div class="container">
    <aside class="pull-right">
        @Html.Partial("Partials/_ResultNotifications")
    </aside>
    <h1>@ViewBag.Title <sup><span class="badge">@Model.TotalItemCount</span></sup></h1>

    <div class="panel panel-@ViewBag.PanelColor">
        <div class="panel-heading">
            <span class="pull-right" data-toggle="modal" data-target="#record-exist-modal">
                <a id="add-icon" class="add-icon" href="#" data-toggle="tooltip" data-placement="top" title="Add record"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                @Html.Partial("Partials/_SortBy")
            </span>
            <p class="panel-title">List of @ViewBag.Title</p>
            @Html.Partial("Partials/_DecisionModal")
        </div>
        <div class="panel-body">
            @Html.Partial("Partials/Crud/_ClientIndex")
        </div>
        <div class="panel-footer">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        </div>
    </div>

</div>