@model AgencyAddressBook.Models.Broker

<div class="row">

    <div class="list-group>
        <p class="list-group-item" style="padding: 20px;">

            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()

                    <div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-2">Full Name</label>

                            @*@Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-5">
                                @*@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First name"} )*@
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First name" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last name" } })
                                @*@Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last name" })*@
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-2">Address</label>


                            <div class="col-md-10">
                                @*@Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Street" })*@
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2"></label>

                            <div class="col-md-4">
                                @*@Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "City" } )*@

                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.State, htmlAttributes: new { @class = "form-control", @placeholder = "State" })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @*@Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", @placeholder = "Zip code" } )*@
                                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zip code" } })
                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-2">Contact</label>
                            <div class="col-md-5">
                                @*@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Phone number" })*@
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone number" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @*@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })*@
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label class="control-label col-md-2">Date Created</label>
                            <div class="col-md-10">*@
                                @*@Html.TextBoxFor(model => model.DateCreated, new { @class = "form-control", Type = "date", Value = System.DateTime.Now.ToString("yyyy-MM-dd") })*@
                                @*@Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date Created", @disabled = "disabled" } })*@
                                @*@Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })*@
                            @*</div>
                        </div>*@

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Save" class="btn btn-default pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div>

            </div>

        </p>
    </div>




</div>

